<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite de Automatizacion Funcional" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Pruebas de Funcionalidad de Login">
        <parameter name="navegador" value="chrome"/>
        <parameter name="modoSinCabeza" value="false"/>
        <parameter name="tiempo.espera.prueba" value="30"/>
        <classes>
            <class name="com.automatizacion.proyecto.pruebas.PruebaLogin"/>
        </classes>
    </test>

    <test name="Pruebas de Funcionalidad de Registro">
        <parameter name="navegador" value="chrome"/>
        <parameter name="modoSinCabeza" value="false"/>
        <parameter name="tiempo.espera.prueba" value="45"/> <classes>
            <class name="com.automatizacion.proyecto.pruebas.PruebaRegistro"/>
        </classes>
    </test>

</suite>